<%# partial :map %>
<style type="text/css" media="screen">
  label {
color: #B4886B;
font-weight: bold;
display: block;
width: 150px;
float: left;
}
input, label, textarea, select {
  margin: 5px 0;
}
label:after { content: ": " }
</style>
<form action="/admin/<%= @page.id %>" method="post">
  <div style="float:right">
  <p><input type="submit" value="Delete this page"></p>
    <input name="_method" type="hidden" value="delete" />
  </div>
</form>
<p style="">
<a href="/admin">« Back to Admin Console</a>
<% unless @page.shortname.nil? || @page.shortname.length == 0 %>
 -or- <a href="<%= @page.url %>">Open Page</a>  
<% end %>
</p>
<form action="/admin/<%= @page.id || "new" %>/update" method="post" accept-charset="utf-8">
  <fieldset>
    <legend>Page configuration (required)</legend>
  <label for="page[page_type]">Type</label><select name="page[page_type]" id="status" onchange="" size="1"><br />
    <% %w{region country project page world}.each do |s| %>
    <option value="<%= s %>" <%= @page.page_type == s ? 'selected="selected"' : "" %>><%= s %></option>
    <% end %>
  </select><br />

  <label for="name">Name</label><input type="text" name="page[name]" value="<%= @page.name %>" id="page[name]"><br />
  <label for="shortname">Short Name</label><input type="text" name="page[shortname]" value="<%= @page.shortname %>" id="page[shortname]"><br />
  <label for="region">Parent</label>
  <%= region_select(@page) %><br />
  
  </fieldset>
  <fieldset>
    <legend>Map Configuration (for regions, countries, and projects)</legend>
  
  <label for="map">Map ID</label><input type="text" name="page[map]" value="<%= @page.map %>" id="map"> <% unless @page.map.nil? || @page.map.length == 0 %><a href="<%= PLATFORM_API_URL %>/maps/<%= @page.map %>">open in GeoIQ</a><% end %><br />  
  <label for="isocode">ISO Code</label><input type="text" name="page[isocode]" value="<%= @page.isocode %>" id="isocode"><br />
  <label for="page[locations_count]"># of Locations</label><input type="text" name="page[locations_count]" value="<%= @page.locations_count %>" id="locations_count"><br />  
</fieldset>
  
  <fieldset>
    <legend>Page description (optional)</legend>

  <label for="data[indicators]">Indicators (optional)</label><br />
  <textarea name="data[indicators]" rows="1" cols="60"><%= (@page.data[:indicators].nil? ? nil : @page.data[:indicators].to_json) %></textarea><br />
  
  <label for="data[locations]">Locations (optional)</label><br />
  <textarea name="data[locations]" rows="8" cols="60"><%= (@page.data[:locations].nil? ? nil : @page.data[:locations].to_json) %></textarea><br />
  <label for="data[results]">Result Links</label><br />
  <textarea name="data[results]" rows="8" cols="60"><%= (@page.data[:results].nil? ? nil : @page.data[:results].to_json) %></textarea><br />

  <label for="page[overview]">Page Overview (optional)</label><br />
  <textarea name="page[overview]" rows="8" cols="60"><%= @page.overview || "" %></textarea><br />
  <label for="page[content]">Page Content (optional)</label><br />
  <textarea name="page[content]" rows="16" cols="60"><%= @page.content || "" %></textarea><br />
  </fieldset>

  <label for="status">Status</label><select name="page[status]" id="status" onchange="" size="1"><br />
    <% %w{active closed}.each do |s| %>
    <option value="<%= s %>" <%= @page.status == s ? 'selected="selected"' : "" %>><%= s %></option>
    <% end %>
  </select><br />

  <p><input type="submit" value="Update &rarr;"></p>
</form>




