<%= partial :map %>
<%= partial :share %>
<%= partial :map_header %>
<div id="map-content">
  <div id="geoiq_map" class=""></div>
  <div id="map_console">
        <div class="console-title">
          <p id="project_count">&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <p id="activity_count">&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="console-info">
          <p>total projects</p>
          <p>total project activity sites</p>
        </div>    
        <%= partial :layer_controls %>
  </div>
  <%# partial :infowindow %>
</div>

<%= partial :charts %>

<%= partial :projects_table unless @country[:name] == "World" %>
