<%# partial :map %>
<%= partial :map_header %>
<div id="map-content">
  <div id="wb_map_wrapper" style="z-index: -1; height: 514px; 958px">
  <div id="wb_map" class="" style="height: 520px"></div>
  </div>
  <div id="map_console">
      <div class="console-title">
        <p id="project_count">&nbsp;&nbsp;&nbsp;&nbsp</p>
        <p id="activity_count">&nbsp;&nbsp;&nbsp;&nbsp</p>
      </div>
      <div class="console-info">
        <div id="loading">Loading Map Data...</div>
        <p class="loaded" style="display: none" title="Active projects as of June 30, 2010">active projects working in</p>
        <p class="loaded" style="display: none" title="Project locations as of June 30, 2010">mapped project locations</p>
      </div>    
      <%= partial :layer_controls %>
  </div>
  <%# partial :infowindow %>
</div>

<%# partial :charts %>

<%= partial :projects_table unless @country[:name] == "World" %>

<script type="text/javascript" charset="utf-8">
  var wb = new F1.WorldBank();
  wb.init(<%= @country[:map].to_s %>,  "<%= @country[:name].to_s %>");
</script>
