<div id="layerinfo">
  <ul>
    <li class="">Choose the indicator data and portfolio projects below to investigate mapping for results:</li>
  </ul>
</div>
<div class="dropmenuholder">
  <ul class="dropmenu">
    <li class="first" title="Zoom to Locations"><a href="#" onclick="return false;">LOCATIONS</a>
      <ul id="locations_list">
        <% if true || @country[:name] == "World" %>
          <% MAPS[:world][:regions].each do |region, region_attr| %>
            <% region_attr[:countries].each do |country, country_attr| %>
            <% if (country_attr[:status] == 'active') %>
            <li><a href="<%= (country_attr[:status] == 'inactive') ? "#" : "/#{region}/#{country}" %>" class="<%= country_attr[:status] %>"><%= country_attr[:name] %></a></li>
            <% end %>
            <% end %>
          <% end  %>              
        <% elsif(@country.keys.include?(:adm1)) %>
        <% @country[:adm1].each do |adm_attr| %>
        <li><a href="#" onclick="return wb.setLocation('<%= adm_attr[:name] %>',<%= adm_attr[:lat] %>,<%= adm_attr[:lon] %>,<%= adm_attr[:zoom] %>)"><%= adm_attr[:name] %></a></li>                
        <% end %>
        <% end %>
      </ul>
    </li>
  </ul>
  <ul class="dropmenu <%= 'inactive' if @country[:name] == "World" %>">
    <li class="first" title="Layer: Indicators"><a href="#" id="layercontrol_indicators" onclick="wb.setIndicator()">INDICATORS</a>
      <% unless @country[:name] == "World" %>
      <ul>
        <% @country[:indicators].each do |indicator| %>
        <li><a href="#" onclick="return wb.setIndicator('<%= indicator %>')"><%= indicator %></a></li>
        <% end %>
      </ul>
      <% end %>
    </li>
  </ul>
  <ul class="dropmenu <%= 'inactive' if @country[:name] == "World" %>">
    <li class="first" title="Layer: Projects"><a href="#" id="layercontrol_projects" onclick="return wb.toggleSector('none',false)">PROJECTS</a>
      <% unless @country[:name] == "World" %>
      <ul>
        <li><a href="#" onclick="return wb.toggleSector('counts_admin1', true)">Number by Province</a></li>
        <li><a href="#" onclick="return wb.toggleSector('counts_admin2', true)">Number by District</a></li>
        <li><a href="#" onclick="return wb.toggleSector('all', true)">All Projects</a></li>
        <li><a href="#" onclick="return wb.toggleSector('none',false)">No Projects</a></li>
      </ul>
      <% end %>
    </li>
  </ul>
  <ul class="dropmenu <%= inactive if @country[:name] == "World" %> ">
    <li title="Resultings Coming Soon"><a href="#" onclick="return false">RESULTS</a>
      <% unless @country[:name] == "World" %>
      <ul>
        <% @country[:results].each do |result| %>
        <li><a href="<%= result[:link] %>" target="_new"><%= result[:name] %></a></li>
        <% end %>
      </ul>
      <% end %>
    </li>
  </ul>
</div>