<div id="layerinfo">
  <ul>
    <li class="">
    <% unless %w{world region}.include?(@page.page_type) %>Choose the indicator data and portfolio projects below to investigate mapping for results:<% else %>
    Investigate World Bank projects in currently highlighted countries using "Locations" tab.<% end %></li>
  </ul>
</div>
<div class="dropmenuholder">
  <ul class="dropmenu">
    <li class="first" title="Zoom to Locations"><a href="#" onclick="return false;">LOCATIONS</a>
      <ul id="locations_list">
        <% if %w{world region}.include?(@page.page_type) %>
          <% @page.children.each do |region_attr| %>
            <% region_attr.children.each do |country_attr| %>
            <% if (country_attr[:status] == 'active') %>
            <li><a href="<%= (country_attr[:status] == 'inactive') ? "#" : "/#{region_attr.shortname}/#{country_attr.shortname}" %>" class="<%= country_attr[:status] %>"><%= country_attr[:name] %></a></li>
            <% end %>
            <% end %>
          <% end  %>              
        <% elsif(!@page.data[:locations].nil?) %>
            <%= menu_options(@page.data[:locations]) %>
        <% end %>
      </ul>
    </li>
  </ul>
  <ul class="dropmenu <%= 'inactive' if @page[:name] == "World" || (@region == @page) %>">
    <li class="first" title="Layer: Indicators"><a href="#" id="layercontrol_indicators" onclick="wb.setIndicator(); return false">INDICATORS</a>
      <% unless %w{world region}.include?(@page.page_type) %>
      <ul>
        <% @page[:indicators].each do |indicator| %>
        <li><a href="#" onclick="wb.setIndicator('<%= indicator %>'); return false"><%= indicator %></a></li>
        <% end %>
      </ul>
      <% end %>
    </li>
  </ul>
  <ul class="dropmenu <%= 'inactive' if @page[:name] == "World" || (@region == @page) %>">
    <li class="first" title="Layer: Projects"><a href="#" id="layercontrol_projects" onclick="return wb.toggleSector('none',false)">PROJECTS</a>
      <% unless %w{world region}.include?(@page.page_type) %>
      <ul>
        <li><a href="#" onclick="wb.toggleSector('counts_admin1', true); return false">Number by Province</a></li>
        <li><a href="#" onclick="wb.toggleSector('counts_admin2', true); return false">Number by District</a></li>
        <li><a href="#" onclick="wb.toggleSector('all', true); return false">All Projects</a></li>
        <li><a href="#" onclick="wb.toggleSector('none',false); return false">No Projects</a></li>
      </ul>
      <% end %>
    </li>
  </ul>
  <ul class="dropmenu <%= 'inactive' if @page[:name] == "World" || (@region == @page) %> ">
    <li title=""><a href="#" onclick="return false">RESULTS</a>
      <% if @page.data.include?(:results) && @page.data[:results].length > 0 %>
      <ul>
        <% @page.data[:results].each do |result| %>
        <% result.symbolize_keys! %>
        <li><a href="<%= result[:link] %>" target="_new"><%= result[:name] %></a></li>
        <% end %>
      </ul>
      <% end %>
    </li>
  </ul>
</div>