        <div id="download">
          <ul>
            <li class="">Choose from the boxes below to investigate mapping for results:</li>
          </ul>
        </div>
        <div class="dropmenuholder">
          <ul class="dropmenu">
            <li class="first"><a href="">LOCATIONS</a>
              <ul>
                <% MAPS[:world][:regions].each do |region, region_attr| %>
                  <% region_attr[:countries].each do |country, country_attr| %>
                  <li><a href="/<%= region %>/<%= country %>"><%= country_attr[:name] %></a></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
          </ul>
          <!-- ... and so on ... -->
          <ul class="dropmenu <%= 'inactive' if @country[:name] == "World" %>">
            <li class="first"><a href="#" id="indicator" onclick="wb.setIndicator(); return false">INDICATORS</a>
              <ul>
                <% ["Population", "Extreme Poverty", "Infant Mortality", "Maternal Health", "Malnutrition"].each do |indicator| %>
                <li><a href="#" onclick="wb.setIndicator('<%= indicator %>'); return false"><%= indicator %></a></li>
                <% end %>
              </ul>
            </li>
          </ul>
          <!-- ... and so on ... -->
          <ul class="dropmenu <%= 'inactive' if @country[:name] == "World" %>">
            <li class="first"><a href="#" onclick="wb.toggleSector(); return false">PROJECTS</a>
              <ul>
                <li><a href="#">Number by Department</a></li>
                <li><a href="#">Number by Commune</a></li>
                <li><a href="#" onclick="wb.toggleSector('all'); return false">All Projects</a></li>
              </ul>
            </li>
          </ul>
          <!-- ... and so on ... -->
          <ul class="dropmenu <%= 'inactive' if @country[:name] == "World" %>">
            <li><a href="">RESULTS</a>
              <ul>
                <li><a href="#">Country Profile</a></li>
                <li><a href="#">Project Profile</a></li>
              </ul>
            </li>
            <!-- ... and so on ... -->
          </ul>