    <div id="map-content-header">
      <div class="worldmenuholder">
        <ul class="worldmenu">
          <li class="first"><a href="javascript:return false;" style="<%= @page[:name].length > 26 ? 'padding-top: 6px' : ''%>"><%= @page[:name].upcase %></a>
            <ul>
              <li><a href="<%= @page.parent.url %>"><%= @page.parent.name %></a></li>
              <% @page.children.each do |region_attr| %>
              <li><a href="<%= region_attr.url %>"><%= region_attr[:name] %></a></li>
              <% end unless @page.children.nil? %>
            </ul>
          </li>
        </ul>
      <%= partial :summary %>
      </div>
    </div>