    <div id="map-content-header">
      <div class="worldmenuholder">
        <ul class="worldmenu">
          <li class="first"><a href="javascript:return false;" ><%= @country[:name].upcase %> <%= @country[:name] == "World" ? ' / Number of Projects' : '/ <span id="map-title">Projects by Poverty</span>' %></a>
            <ul>
              <% if @country[:name] == "World" %>
              <% @country[:regions].each do |region, region_attr| %>
              <li><a href="#" onclick="return wb.setLocation('<%= region_attr[:name] %>',<%= region_attr[:lat] %>,<%= region_attr[:lon] %>,<%= region_attr[:zoom] %>)"><%= region_attr[:name] %></a></li>
              <% end %>
              <% else %>
                <li><a href="#" onclick="return wb.setState(null,'Poverty')">MDG1: Extreme Poverty</a></li>
                <li><a href="#" onclick="return wb.setState(null,'Malnutrition')">MDG1: Malnutrition</a></li>
                <li><a href="#" onclick="return wb.setState(null,'Infant Mortality')">MDG4: Infant Mortality</a></li>
                <li><a href="#" onclick="return wb.setState(null,'Maternal Health')">MDG5: Births attended by skilled health staff</a></li>
                <li><a href="#" onclick="return wb.setState(null,null,null,['all'])">Project Portfolio</a></li>
                <li><a href="#" onclick="return wb.setState(null,'Poverty',null,['all'])">Projects by Poverty</a></li>
                <li><a href="#" onclick="return wb.setState(null,'Population',null,['all'])">Projects by Population</a></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
      <%= partial :sector_controls unless @country[:name] == "World" %>
    </div>