      <div id="banner">
        <div id="local" class="clearfix <%= 'collapsible-header' if !@page.nil? && @page.name == 'World' %>">
          <div title="Click to hide the overview information" class="site-name"><a class="active" href="/"><%= @title || "Mapping for Results" %></a></div>
          <div class="collapsible-header <%= (@page.nil? || %w{world haiti boost}.include?(@page.shortname)) ? 'expanded': 'collapsed'%>" content_id="collapsible-banner" >
            <div title="More information about Mapping for Results" class="banner-open-image"></div>
          </div>          
        </div>
        <div id="banner-content">
          <div class="collapsible-content" id="collapsible-banner" style="<%= (@page.nil? || %w{world haiti boost}.include?(@page.shortname)) ? '': 'display:none'%>">
            <div id="block-nodeasblock-3273" class="block block-nodeasblock ">
              <div class="content">
                <div class="overview-links">
                  <p>Overview »</p>
                  <ul>
                    <% (@page.name == "World" ? Page.first(:shortname => "about") : @page).children.each do |child| %>
                    <% next if child.page_type != "page" %>
                    <li><a href="<%= child.url %>"><%= child.name %></a></li>
                    <% end %>
                  </ul>
                </div>
                <div class="overview-text">
                <% if !@page.overview.nil? && @page.overview.length != 0 %>
                <%= @page.overview %>
                <% else %>
                The <strong>Mapping for Results Platform</strong> provides detailed information about our work to reduce poverty and promote sustainable development around the world. This pilot website aims to visualize the location of our projects and to provide access to information about indicators, sectors, funding and results. <br />Prior to the Spring Meetings 2011, Mapping for Results has identified more than 1250 active Bank financed activities working in 16,520 locations. These activities are a subset of more than 2,500 active financed Bank activities with a volume of more than $160 billion.<br /><a class="readmore" href="/about">Read More »</a>
              <% end %>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <%= partial :share unless @page.page_type == "page" %> <br /><br />
