      <div id="banner">
        <div id="local" class="<%= 'collapsible-header' if !@page.nil? && @page.name == 'World' %> <%= (@page.nil? || %w{world haiti boost}.include?(@page.shortname)) ? 'expanded': 'collapsed'%>" content_id="collapsible-banner">
          <div title="" class="site-name"><a class="active" href="<%= defined?(@additional_controls) ? '#' : '/' %>"><%= @title || "Mapping for Results" %></a></div>
          <div  >
            <div title="More information about Mapping for Results" class="banner-open-image"></div>
          </div>          
        </div>
        <div id="banner-content">
          <div class="collapsible-content" id="collapsible-banner" style="<%= (@page.nil? || %w{world haiti boost}.include?(@page.shortname)) ? '': 'display:none'%>">
            <div id="block-nodeasblock-3273" class="block block-nodeasblock ">
              <div class="content">
                <div class="overview-links">
                  <p>Overview »</p>
                  <ul>
                    <% (@page.name == "World" ? Page.first(:shortname => "about") : @page).children[0..3].each do |child| %>
                    <% next if child.page_type != "page" %>
                    <li><a href="<%= child.url %>"><%= child.name %></a></li>
                    <% end %>
                  </ul>
                </div>
                <div class="overview-text">
                <% if !@page.overview.nil? && @page.overview.length != 0 %>
                <%= @page.overview %>
                <% else %>
                Mapping for Results visualizes the locations of World Bank Bank-financed projects to better monitor development impact, improve aid effectiveness and coordination, and enhance transparency and social accountability. In combination with the subnational socio-economic indicators such as poverty, health, malnutrition, and population density it helps to better target development assistance.<br /><a class="readmore" href="/about">Read More »</a>
              <% end %>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <%= partial :share unless @page.page_type == "page" %> <br /><br />
